.navbar {
  background: #0f172a;
  padding: 15px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

/* LOGO */
.logo {
  color: #00c896;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

/* SEARCH */
.nav-search {
  display: flex;
  justify-content: center;
}

.nav-search input {
  width: 70%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  background: #1e293b;
  color: white;
  outline: none;
}

/* LINKS */
.nav-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.nav-link {
  color: #cbd5e1;
  text-decoration: none;
}

.nav-link:hover {
  color: #00c896;
}

/* BOTÓN */
.logout-btn {
  background: #ef4444;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
}
