.auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000, #1f1f1f);
}

.box {
  background: #111;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.box h2 {
  margin-bottom: 10px;
}

.box p {
  color: #aaa;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 14px;
}

input {
  margin-bottom: 10px;
}

button {
  width: 100%;
}