.home {
  padding: 40px;
  max-width: 1300px;
  margin: auto;
}

/* HEADER */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.home-header h1 {
  color: #00c896;
}

/* BOTÓN */
.add-btn {
  background: #00c896;
  padding: 10px 20px;
  border-radius: 10px;
}

/* GRID */
.motos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

/* FORM */
.form {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* TEXTO */
.search-info {
  margin-bottom: 20px;
  color: #aaa;
}